### Build output.
#build/ganttd3.js
#build/ganttd3.min.js
#build/ganttd3.css

### WebStorm ###
.idea/

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### SASS ###
.sass-cache/
src/*.css